body {
    background-image: url(Imagenes/ManosProgramando.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

button {
    color: white;
    background-color: green;
    width: 100%;
    padding: 5px;
    max-width: 10%;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}